:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
}
.header{
  background-color: #9095f8;
  display: flex;
 margin-bottom: 30px;
 color: whitesmoke;

}
.aside{
  align-items: center;
  display: flex;
  /* width: %; */
  position: absolute;
  right: 0;
  padding:0 10px;
  text-align: center;
  /* justify-content: space-around; */
}

.title{
  text-align: center;
  justify-content: center;
  width: 40%;
  align-items: center ;
  font-weight: 500;
  font-size: large;
}

.aside p{
  /* background-color: green; */
  margin-right: 15px;
}

.submit {
  border-radius: 8px;
   padding: 8px 6px;
  text-align: center;
   background-color: rgb(10, 73, 189);
  cursor: pointer;
  color: white;
}
.blogCard{
  width: 250px;
  background-color: #646cff;
}
.formWrap{
  width: 90%;
  margin: 20px auto;
  padding: 10px 5px;
  /* background-color: black; */
  box-shadow:5px 5px 3px #b4b6dd;

}
form{
  /* background-color: green; */
  padding: 10px 5px;
  width: 100%;
}

.blogContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
input{
  width: 90%;
  padding: 4px;
  border-radius: 4px;
  outline: none;
}
.titleWrap{
  width: 90%;
  text-align: left;
  margin-bottom: 20px;

}
.postWrap{
  width: 90%;
  height: 100px;
  text-align: left;
  margin-bottom: 60px;
}
textarea  {
  width: 90%;
  height: 110px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: black; */
  }
}
